{% extends 'base.html.twig' %}

{% block title %}New Nota{% endblock %}

{% block body %}
    <h1>Create new Nota</h1>

    {{ include('nota/_form.html.twig') }}

    <a href="{{ path('nota_index') }}">back to list</a>
    <a href="{{ path('panel') }}">Home</a>
{% endblock %}
