<form method="post" action="{{ path('estudiante_delete', {'id': estudiante.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estudiante.id) }}">
    <button class="btn">Delete</button>
</form>
