{% extends 'base.html.twig' %}

{% block title %}New Estudiante{% endblock %}

{% block body %}
    <h1>Create new Estudiante</h1>

    {{ include('estudiante/_form.html.twig') }} <hr>

    <a class="btn btn-primary" href="{{ path('estudiante_index') }}">Volver al listado</a>
    <a class="btn btn-primary" href="{{ path('panel') }}">Home</a>
{% endblock %}
